<perfect-scrollbar style="max-width: 600px; max-height: 600px;" [config]="">
    <div class="card mb-3" *ngFor='let people of peopleList | search: searchService.mainSearchBar'>
        <div class="card-header">
            <b>{{people.givenName}} {{people.sn}}</b>
        </div>
        <div class="card-body">
            <img src="">
            <p class="card-title">{{people.room}}</p>
            <p class="card-text">{{people.mail}}</p>
            <!-- <p class="card-text">26, Av J-F Champollion - BP. 52309</p>
      <p class="card-text">31023 Toulouse Cedex 1 - France</p> -->
        </div>
    </div>
</perfect-scrollbar>
