@import '~perfect-scrollbar/css/perfect-scrollbar.css';
.roomNumberOnCard {
    font-weight: bold;
}

#scrollboxList {
    overflow: auto;
    max-width: 500px;
    max-height: 90vh;
    margin: 0px;
}
