<div class="container">
    <div class="row justify-content-center">
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://mail.telespazio.com/owa" target="_blank">
                        <img class="imgLink justify-content-center" src="{{webmail}}" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Webmail</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://teamsites.telespazio.com" target="_blank">
                        <img class="imgLink justify-content-center" src="{{sharepoint}}" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Sharepoint</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://dropzone.ssl.telespazio.com" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="{{dropzone}}" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>DropZone</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://tpm.ssl.telespazio.com" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="{{tpm}}" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Password Manager</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://ssl.telespazio.com" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="{{portal}}" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Portal</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://mailrelay1.ssl.telespazio.com/pem/login/pages/login.jsf" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="{{PEM}}" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Personal Email Manager</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://hr-services.fr.adp.com/" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="{{zadig}}" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Zadig</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://intranet.telespazio.com/EN/Pages/default.aspx" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="{{intranet}}" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Intranet</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://teamsites.telespazio.com/sites/francequality/" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="{{SiteQualite}}" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Site Qualité</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="http://ubw6.telespazio.corp/UBWorld-6/default.aspx" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="{{agresso}}" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Agresso</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://startpage.telespazio.fr/COM/covidpage.html" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="{{vignetteCOVID19ok}}" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>COVID-19</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="http://ictsupport.telespazio.corp/glpi" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="{{ICT}}" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>ICT Helpdesk</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
    </div>
</div>
