<ul class="nav nav-tabs nav-fill" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="floor0-tab" data-toggle="tab" href="#floor0" role="tab" aria-controls="floor0" aria-selected="true">Rez de chaussée</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="floor1-tab" data-toggle="tab" href="#floor1" role="tab" aria-controls="floor1" aria-selected="false">Etage 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="floor2-tab" data-toggle="tab" href="#floor2" role="tab" aria-controls="floor2" aria-selected="false">Etage 2</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="floor0" role="tabpanel" aria-labelledby="floor0-tab">
        <div class="spacer-2"></div>
        <div class="row justify-content-center">
            <div class="col-10 align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 717 566" width="1em" height="1em">
                      <rect (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" x="173.5" y="472.5" width="84" height="93" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <polygon (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" points="262.5 565.5 312.5 565.5 311.5 472.5 262.5 472.5 262.5 565.5" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" x="316.5" y="472.5" width="70" height="93" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <polygon (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" points="391.5 565.5 440.5 565.5 440.5 472.5 390.5 472.5 391.5 565.5" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" x="445.5" y="472.5" width="44" height="93" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" x="494.5" y="442.5" width="109" height="79" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" x="608.5" y="442.5" width="108" height="79" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <polygon (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" points="647.5 437.5 647.5 319.5 716.5 320.5 716.5 437.5 647.5 437.5" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" x="94.5" y="437.5" width="74" height="84" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" x="94.5" y="354.5" width="74" height="59" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <polygon (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" points="618.5 320.5 504.5 319.5 504.5 413.5 618.5 413.5 618.5 320.5" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <polygon (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" points="499.5 364.5 465.5 364.5 465.5 413.5 499.5 412.5 499.5 364.5" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <polygon (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" points="440.5 442.5 440.5 364.5 425.5 364.5 425.5 226.5 450.5 221.5 440.5 206.5 168.5 206.5 168.5 334.5 203.5 334.5 203.5 442.5 440.5 442.5" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W039" x="169.5" y="123.5" width="88" height="78"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" x="262.5" y="123.5" width="124" height="78" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <polygon (click)="clickMap($event)" class="mapItem" id="W047" points="391.5 123.5 391.5 201.5 440.5 202.5 440.5 123.5 391.5 123.5"/>
                      <polygon (click)="clickMap($event)" class="mapItem" id="W054" class="nohover" points="494.5 152.5 549.5 152.5 549.5 226.5 494.5 241.5 494.5 152.5" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <polygon (click)="clickMap($event)" class="mapItem" id="W050" class="nohover" points="553.5 152.5 716.5 152.5 716.5 191.5 553.5 226.5 553.5 152.5" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W051" x="608.5" y="49.5" width="108" height="98"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W0" x="553.5" y="49.5" width="50" height="74"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W048" x="494.5" y="49.5" width="55" height="74"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W046" x="391.5" y="0.5" width="49" height="93"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W044" x="316.5" y="0.5" width="70" height="93"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W042" x="262.5" y="0.5" width="49" height="93"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W040" x="213.5" y="0.5" width="44" height="93"/>
                      <polygon (click)="clickMap($event)" class="mapItem" id="W038" points="208.5 0.5 168.5 0.5 168.5 44.5 139.5 44.5 139.5 93.5 208.5 93.5 208.5 0.5"/>
                      <rect (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" x="94.5" y="44.5" width="40" height="88" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <polygon (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" points="89.5 393.5 89.5 300.5 0.5 299.5 0.5 393.5 89.5 393.5" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                      <polygon (click)="clickMap($event)" class="mapItem" id="W0" class="nohover" points="0.5 295.5 163.5 295.5 164.5 157.5 94.5 157.5 94.5 167.5 0.5 191.5 0.5 295.5" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="floor1" role="tabpanel" aria-labelledby="floor1-tab">
        <div class="spacer-2"></div>
        <div class="row justify-content-center">
            <div class="col-10 align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 781.25 532.4" width="1em" height="1em">
              <polygon (click)="clickMap($event)" class="mapItem" id="W110 W111" points="780.75 531.9 701.74 531.9 701.74 433.54 686.92 433.54 686.92 418.57 780.75 418.78 780.75 531.9"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W112" x="647.41" y="438.46" width="49.38" height="93.44"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W114" x="593.09" y="428.62" width="49.38" height="103.28"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W116" x="479.51" y="428.96" width="108.64" height="102.94"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W118" x="420.25" y="458.13" width="53.99" height="73.77"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W120" x="365.93" y="458.13" width="49.38" height="73.77"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W122" points="360.99 458.13 360.99 531.9 306.67 531.9 306.69 458.32 360.99 458.13"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W124" x="252.35" y="458.13" width="49.38" height="73.77"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W126" class="nohover" points="247.41 458.13 247.41 531.9 193.09 531.9 193.09 457.91 247.41 458.13" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W128 W130" points="188.15 458.13 188.15 531.9 94.33 531.9 94.33 428.89 168.4 428.62 168.4 458.13 188.15 458.13"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W129" points="93.74 423.7 193.09 423.7 193.09 428.62 281.98 428.62 281.98 271.24 0.5 271.24 0.5 404.03 94.25 404.03 93.74 423.7"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W1" class="nohover" points="286.92 428.62 365.93 428.9 365.93 266.91 286.92 266.91 286.92 428.62" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W139" points="286.47 261.41 286.92 108.95 474.69 109.33 474.69 202.32 454.82 207.31 454.82 349.93 370.87 349.93 371.36 261.41 286.47 261.41"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W1" class="nohover" points="370.87 354.85 370.87 428.62 420.25 428.62 420.25 399.11 474.56 399.11 474.56 354.85 370.87 354.85" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W108" class="nohover" points="499.26 399.11 499.22 305.67 657.29 305.67 657.29 398.99 499.26 399.11" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W105" x="686.92" y="364.69" width="93.83" height="49.18"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W152" points="686.92 359.77 780.75 359.77 780.75 305.67 686.68 306.32 686.92 359.77"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W148" points="701.74 300.75 780.75 300.75 780.75 167.97 701.42 182.72 701.74 300.75"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W150" points="701.74 177.93 780.75 162.73 780.75 79.29 701.74 79.33 701.74 148.29 692.56 153.21 701.74 177.93"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W146" x="706.67" y="0.75" width="74.07" height="73.77"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W441" points="701.14 74.52 647.41 74.52 647.44 0.75 701.74 0.75 701.14 74.52"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W142" points="533.83 79.29 534.35 0.75 642.48 0.75 642.48 79.29 533.83 79.29"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W140" points="528.89 0.75 479.51 0.5 479.51 79.29 528.89 79.29 528.89 0.75"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W138" points="473.93 0.5 420.25 0.5 420.25 79.6 474.25 79.29 473.93 0.5"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W136" points="415.31 79.6 365.93 79.42 365.93 0.5 415.31 0.75 415.31 79.6"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W134" points="360.99 79.89 271.55 79.6 272.11 0.75 360.99 0.75 360.99 79.89"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W132" points="267.17 79.6 267.17 0.75 188.15 0.75 188.15 79.44 267.17 79.6"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W133" points="0.5 266.32 281.98 266.91 281.98 128.62 99.27 128.62 0.5 148.56 0.5 266.32"/>
        </svg>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="floor2" role="tabpanel" aria-labelledby="floor2-tab">
        <div class="spacer-2"></div>
        <div class="row justify-content-center">
            <div class="col-10 align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 628.48 518" width="1em" height="1em">
              <rect (click)="clickMap($event)" class="mapItem" id="W201" x="0.5" y="418.96" width="93.83" height="98.36"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W202" x="0.5" y="330.43" width="69.14" height="83.61"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W2" class="nohover" x="30.13" y="212.4" width="64.2" height="93.44" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W2" class="nohover" points="99.27 281.25 99.27 128.79 277.04 128.79 277.04 197.65 257.29 202.57 257.29 281.25 99.27 281.25" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W2" class="nohover" points="98.98 286.5 98.98 389.5 276.98 389.5 276.98 340.5 256.98 340.5 256.98 286.5 98.98 286.5" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W223" x="98.98" y="418.5" width="69" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W222" x="172.98" y="418.5" width="50" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W221" x="227.98" y="418.5" width="49" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W220" x="281.98" y="418.5" width="49" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W219" x="335.98" y="418.5" width="50" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W218" x="390.98" y="418.5" width="49" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W217" x="444.98" y="418.5" width="49" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W216" x="498.98" y="389.5" width="74" height="128"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W215" x="498.98" y="296.5" width="74" height="88"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W2" class="nohover" points="518.98 291.5 627.98 291.5 627.98 148.5 498.98 177.5 518.98 291.5" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
              <polygon (click)="clickMap($event)" class="mapItem" id="W2" points="493.98 173.5 572.98 153.5 573.98 104.5 513.98 104.5 493.98 173.5"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W213" x="498.98" y="0.5" width="74" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W212" x="444.98" y="0.5" width="49" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W211" x="390.98" y="0.5" width="49" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W210" x="335.98" y="0.5" width="50" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W209" x="281.98" y="0.5" width="49" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W208" x="227.98" y="0.5" width="49" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W207" x="172.98" y="0.5" width="50" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W206" x="98.98" y="0.5" width="69" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W205" x="0.98" y="0.5" width="93" height="99"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W204" x="0.98" y="104.5" width="69" height="83"/>
              <rect (click)="clickMap($event)" class="mapItem" id="W2" class="nohover" x="301.98" y="296.5" width="153" height="93" stroke="black" stroke-width="2" stroke-dasharray="10" stroke-opacity="0.5"/>
        </svg>
            </div>
        </div>
    </div>
</div>
