path:hover:not(.nohover),
rect:hover:not(.nohover),
polygon:hover:not(.nohover) {
    transition: all linear 0.1s;
    stroke-width: 10px;
    stroke-linejoin: round;
    fill: rgba($color: #006699, $alpha: 0.3) !important;
    cursor: pointer;
}

path,
rect,
polygon {
    fill: rgba($color: #000000, $alpha: 0.3);
}

path.nohover,
rect.nohover,
polygon.nohover {
    fill: rgba($color: #000000, $alpha: 0.0);
    border-style: dashed;
}

path.nohover:hover,
rect.nohover:hover,
polygon.nohover:hover {
    transition: all linear 0.1s;
    fill: rgba($color: #8b0000, $alpha: 0.2);
    border-style: dashed;
    cursor: no-drop;
}

// #W1:not(.nohover),
// #W2:not(.nohover),
// #W0:not(.nohover) {
//     fill: rgba($color: #02da38, $alpha: 0.5);
// }
// .nohover#W1,
// .nohover#W2,
// .nohover#W0 {
//     fill: rgba($color: #bada02, $alpha: 0.5);
// }
