path:hover:not(.nohover),
rect:hover:not(.nohover),
polygon:hover:not(.nohover) {
    transition: all linear 0.2s;
    stroke-width: 10px;
    stroke-linejoin: round;
    fill: rgba($color: #006699, $alpha: 0.3);
    cursor: pointer;
}

path,
rect,
polygon {
    fill: rgba($color: #000000, $alpha: 0.3);
}

path.nohover,
rect.nohover,
polygon.nohover {
    fill: rgba($color: #000000, $alpha: 0.0);
    border-style: dashed;
}

path.nohover:hover,
rect.nohover:hover,
polygon.nohover:hover {
    transition: all linear 0.1s;
    fill: rgba($color: #8b0000, $alpha: 0.2);
    border-style: dashed;
    cursor: no-drop;
}

path.highlightMap,
rect.highlightMap,
polygon.highlightMap {
    fill: rgba($color: #e4760f, $alpha: 0.4);
}

path.highlightMap:hover,
rect.highlightMap:hover,
polygon.highlightMap:hover {
    fill: rgba($color: #0fe456, $alpha: 0.4);
}

g.roomNumbers path {
    fill: white;
}

.coffeeZone {
    fill: rgba($color: #e40f0f, $alpha: 0.4);
}

.coffeeCup {
    fill: white;
}

.st1,
.coffeeCup {
    pointer-events: none;
}

.activeMapTab {
    font-weight: bold;
}

a.floor-tab {
    color: inherit;
}

a.floor-tab:hover {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}