<ul class="row">
    <li class="col-4 floor-tab-item text-center">
        <a class="floor-tab" id="floor0-tab" data-toggle="tab" routerLinkActive="activeMapTab" routerLink="floor0" role="tab" aria-controls="floor0" aria-selected="true">Rez de chaussée</a>
    </li>
    <li class="col-4 floor-tab-item text-center">
        <a class="floor-tab" id="floor1-tab" data-toggle="tab" routerLinkActive="activeMapTab" routerLink="floor1" role="tab" aria-controls="floor1" aria-selected="false">Etage 1</a>
    </li>
    <li class="col-4 floor-tab-item text-center">
        <a class="floor-tab" id="floor2-tab" data-toggle="tab" routerLinkActive="activeMapTab" routerLink="floor2" role="tab" aria-controls="floor2" aria-selected="false">Etage 2</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <router-outlet (click)="clickMap($event)"></router-outlet>
</div>