<!-- <mat-toolbar class="redColor"> -->
<mat-toolbar id="searchBar">
    <a routerLink="/home">
        <img id="mainLogo" src="../../assets/img/TELESPAZIO_LOGO_COLOR.png">
    </a>
    <span class="filler"></span>
    <mat-form-field appearance="standard" id="recherche" *ngIf="router.url == '/map'" [routerLink]="['map']" routerLinkActive="">
        <input matInput type="text" name="search" [(ngModel)]="searchService.mainSearchBar" placeholder="Recherche" id="mainSearchBar" #searchBarInput>
    </mat-form-field>
    <a class="menuLinks" routerLink="/">
        <mat-icon>home</mat-icon>
    </a>
    <a class="menuLinks" routerLink="/plus">
        <mat-icon>add_circle</mat-icon>
    </a>
    <a class="menuLinks" routerLink="/map">
        <mat-icon>layers</mat-icon>
    </a>
</mat-toolbar>