<mat-toolbar class="redColor" color="">
    <a routerLink="/home">
        <img id="mainLogo" src="../../assets/img/TELESPAZIO_LOGO.png">
    </a>
    <a class="menuLinks" routerLink="/">
        <mat-icon>home</mat-icon>
    </a>
    <a class="menuLinks" routerLink="/plus">
        <mat-icon>add_circle</mat-icon>
    </a>
    <a class="menuLinks" routerLink="/map">
        <mat-icon>layers</mat-icon>
    </a>
    <span class="filler"></span>
    <mat-form-field [routerLink]="['map']" routerLinkActive="">
        <input matInput type="text" name="search" [(ngModel)]="searchService.mainSearchBar" placeholder="Recherche" id="mainSearchBar" #searchBarInput>
    </mat-form-field>
</mat-toolbar>
