<!-- setting pipe to filter results pf src bar, generating multiples cards -->
<div class="card mb-3">
    <div class="card-header">
        <b>{{people.givenName}} {{people.sn}}</b>
    </div>
    <div class="card-body row">
        <img src="../../assets/img/{{people.sn | uppercase}} {{people.givenName}}.jpg" onerror="if (this.src != '../../assets/img/flower.jpg') this.src = '../../assets/img/flower.jpg';" class="peopleIconPhoto col-3">
        <div>
            <p class="card-text">{{people.mail}}</p>
            <p class="card-title roomNumberOnCard" (click)="clickMap($event)">{{people.room}}</p>
            <!-- <p class="card-text">26, Av J-F Champollion - BP. 52309</p>
<p class="card-text">31023 Toulouse Cedex 1 - France</p> -->
        </div>
    </div>
</div>
