/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
html,
body {
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

svg {
    width: 90%;
    height: 90%;
}

.spacer-1 {
    height: 20px;
}

.spacer-2 {
    height: 40px;
}

.redColor {
    background-color: rgb(223, 9, 9);
    color: white;
}

mat-icon {
    color: black;
}

.doHide {
    display: hide;
}

.imgLink {
    height: 90%;
    width: 90%;
}

.spacer-10 {
    margin-top: 10px;
}

.spacer-20 {
    margin-top: 20px;
}

.navBlock {
    background: red;
}

ul,
ol {
    list-style: none;
    width: 100%;
    margin: auto;
}

.linkImg {
    border-color: rgb(36, 36, 33);
    border-width: 2px;
}

.cardBlockShadow {
    box-shadow: 0 0 5px gray;
}

.cardBlockShadow:hover {
    box-shadow: 0 0 5px red;
}


/* nav custom colors */

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #525657;
    color: whitesmoke;
    font-weight: bold;
}

.nav-pills .nav-link,
.nav-pills .show>.nav-link {
    color: #525657;
    font-weight: bold;
}

.nav-pills>a.active,
.nav-pills>a.active:hover {
    background-color: rgb(187, 10, 10);
}

#mapComp {
    padding-right: 30px;
}

.mat-form-field-infix.ng-tns-c36-0 {
    border-top-width: 0px;
}

.peopleCard:hover {
    box-shadow: 0 0 5px red;
}

.scrollboxList {
    max-width: 500px;
    max-height: calc(100vh - 66px);
    margin: 0px;
    overflow: scroll;
}

.scrollboxMap {
    max-height: 90vh;
    margin: 0px;
}

.bigMessage {
    font-size: 7em;
}

div.spacerPagination {
    padding-top: 30px;
}

.mainStuff {
    margin-top: 66px;
}

.st1 {
    pointer-events: none;
}

a.floor-tab {
    color: inherit;
}

a.floor-tab:hover {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
