/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

svg {
    width: 90%;
    height: 90%;
}

.spacer-1 {
    height: 20px;
}

.spacer-2 {
    height: 40px;
}