<div class="card mb-3 peopleCard" (click)="clickMap($event)">
    <div class="card-header">
        <b>{{people.name}}</b>
    </div>
    <div class="card-body">
        <div class="row">
            <img src="../../assets/img/{{people.image}}" onerror="if (this.src != '../../assets/img/flower.jpg') this.src = '../../assets/img/flower.jpg';" class="img-fluid peopleIconPhoto">
            <div>
                <p class="textInCards card-text">{{people.mail}}</p>
                <p class="textInCards card-title roomNumberOnCard"><b>Room: </b>{{people.room}}</p>
                <p class="textInCards card-text"><b>Service: </b>{{people.role}}</p>
                <p class="textInCards card-text"><b>Mobile: </b>{{people.phone}}</p>
                <p class="textInCards card-text"><b>Phone: </b>{{people.tpzphone}}</p>
                <!-- <p class="textInCards card-text">26, Av J-F Champollion - BP. 52309</p>
<p class="textInCards card-text">31023 Toulouse Cedex 1 - France</p> -->
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>