<div class="container">
    <div class="row justify-content-center">
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://jira.ssl.telespazio.com/secure/Dashboard.jspa" target="_blank">
                        <img class="imgLink justify-content-center" src="../../assets/startpage/jira.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Jira</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://tuleap.telespazio.fr" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/tuleap.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Tuleap</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="http://demonstrator.telespazio.com/" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/demonstrator.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Demonstrator</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://login.salesforce.com/" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/salesforce.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Salesforce</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://secure.digiposte.fr/identification-plus" target="_blank">
                        <img class="imgLink justify-content-center" src="../../assets/startpage/digiposte.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Digiposte</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://performancemanager5.successfactors.eu/login?company=finmeccaniP" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/hrevolution.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>HR evolution</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="./agresso/index.html" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/doc.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Documentation Agresso</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="http://www.earthlab-galaxy.com" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/earthlab.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Earthlab Galaxy</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>



        <!--NewTabPlacement-->

        <!--NewTabPlacement-->
    </div>
</div>