<div class="container">
    <div class="row justify-content-center">
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://mail.telespazio.com/owa" target="_blank">
                        <img class="imgLink justify-content-center" src="../../assets/startpage/webmail.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Webmail</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://teamsites.telespazio.com" target="_blank">
                        <img class="imgLink justify-content-center" src="../../assets/startpage/sharepoint.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Sharepoint</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://dropzone.ssl.telespazio.com" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/dropzone.png" alt="DropZone" longdesc="./dropzone.txt" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>DropZone</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://tpm.ssl.telespazio.com" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/tpm.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Password Manager</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://ssl.telespazio.com" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/portal.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Portal</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://mailrelay1.ssl.telespazio.com/pem/login/pages/login.jsf" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/PEM.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Personal Email Manager</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://hr-services.fr.adp.com/" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/zadig.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Zadig</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://intranet.telespazio.com/EN/Pages/default.aspx" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/intranet.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Intranet</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://teamsites.telespazio.com/sites/francequality/" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/SiteQualite.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Site Qualité</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://secure.digiposte.fr/identification-plus" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/digiposte.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>Digiposte</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://startpage.telespazio.fr/COM/covidpage.html" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/vignetteCOVID19ok.jpg" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>COVID-19</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
        <!--link separator-->
        <div class="col-md-3 col-sm-6">
            <div class="cardBlockShadow border rounded bg-white">
                <div class="text-center">
                    <a class="navBlock justify-content-center" title="" href="https://performancemanager5.successfactors.eu/login?company=finmeccaniP" target="_blank">
                        <img class="imgLink justify-content-center" title="" src="../../assets/startpage/hrevolution.png" alt="" />
                    </a>
                </div>
                <div>
                    <p class="text-center text-secondary"><strong>HRevolution</strong></p>
                </div>
            </div>
            <div class="spacer-20"></div>
        </div>
    </div>
</div>
